<!DOCTYPE html>
<html ng-app="friendsList">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body ng-controller="mainCtrl">
	
	<h1>My Friends</h1>
	<div ng-repeat="friend in friends track by $index">
		<p ng-bind='friend'></p>
	</div>

		<input type="text" ng-model='newFriend'>
		<button ng-click='addFriends()'>Add New Friend</button>

</body>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script src="JS/app.js"></script>
	<script src="JS/mainCtrl.js"></script>
</html>